
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: lightyellow;
}

.container{
  margin: 10px;
  padding: 5px;
  width: 100%;
}

.box{
  width: 650px;
  background-color: rgba(119, 136, 153, 0.423);
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 25px;
}

caption{
  margin: 15px;
  font-size: larger;
  font-weight: bolder;
  border: 2px solid black;
  padding: 5px;
}

table, th, td{
  border: 1px solid black;
  padding: 5px;
  border-collapse: collapse;
  cursor: pointer;
}

th{
  background-color: lightskyblue;
}

td{
  background-color: lightsteelblue;
  padding: 6px;
}

input{
  padding: 7px;
  border: none;
  border-radius: 7px;
  margin: 4px;
}

